[data-container="jeditor"],
[data-container="jeditor"][theme="default"] {
  --primary-50: #f1fafe;
  --primary-100: #e2f3fc;
  --primary-200: #bee7f9;
  --primary-300: #85d5f4;
  --primary-400: #44bfec;
  --primary-500: #1ba8dc;
  --primary-600: #0e87bb;
  --primary-700: #0e77a7;
  --primary-800: #0f5b7d;
  --primary-900: #124c68;
  --primary-950: #0c3045;
}
