[data-container="jeditor"][theme="green"] {
  --primary-50: #effef6;
  --primary-100: #e1feee;
  --primary-200: #b8fad6;
  --primary-300: #80f5b6;
  --primary-400: #42e68f;
  --primary-500: #19ce6f;
  --primary-600: #0eab58;
  --primary-700: #0f8648;
  --primary-800: #12693c;
  --primary-900: #115633;
  --primary-950: #03301b;
}
