[data-container="jeditor"][theme="teal"] {
  --primary-50: #eefffc;
  --primary-100: #c5fffa;
  --primary-200: #8bfff5;
  --primary-300: #4afef0;
  --primary-400: #15ece2;
  --primary-500: #00d0c9;
  --primary-600: #00a8a5;
  --primary-700: #008080;
  --primary-800: #066769;
  --primary-900: #0a5757;
  --primary-950: #003235;
}
