$colors: (
  "primary": #0e77a7,
  "secondary": #6c757d,
  "success": #4caf50,
  "danger": #f44336,
  "warning": #f9a825,
  "info": #2196f3,
);
$bg-colors: (
  "primary": map-get($colors, "primary"),
  "secondary": map-get($colors, "secondary"),
  "success": map-get($colors, "success"),
  "danger": map-get($colors, "danger"),
  "warning": map-get($colors, "warning"),
  "info": map-get($colors, "info"),
  "document": #434343,
  "panel": #343434,
  "element": #343434,
  "page": white,
  "helper": #0e77a757,
);
$fg-colors: (
  "primary": white,
  "secondary": white,
  "success": white,
  "danger": white,
  "warning": white,
  "info": white,
  "document": white,
  "panel": white,
  "element": white,
  "page": black,
  "helper": white,
);
$bd-colors: (
  "element": #636363,
);
$hover-bg-colors: (
  "element": #636363,
);
$hover-fg-colors: (
  "element": white,
);
$active-bg-colors: (
  "element": darken(map-get($bg-colors, "primary"), 10%),
);
$active-fg-colors: (
  "element": map-get($fg-colors, "primary"),
);
$display-classes: none, inline, inline-block, block, grid, table, table-cell,
  table-row, flex, inline-flex;
$primary-classes: "primary", "secondary", "success", "danger", "warning", "info";
