@import "variables";
body {
  margin: 0;
  font-family: Helvetica;
  overflow: hidden;
}
button,
input {
  outline: 0;
}
.jEditor {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}
.jEditor ::-webkit-scrollbar {
  width: 10px;
}
.jEditor ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.jEditor ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}
.document {
  flex: 80;
  color: map-get($fg-colors, "document");
  background: map-get($bg-colors, "document");
  overflow: auto;
  box-shadow: inset 10px 0 10px -5px rgba(0, 0, 0, 0.1);
}
.document .page-wrapper {
  margin: 1.5rem;
}
.document .page {
  position: relative;
  background: map-get($bg-colors, "page");
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
}
.page .object {
  color: map-get($fg-colors, "page");
  position: absolute;
  border: 1px dotted map-get($bg-colors, "primary");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.page .object.rendered {
  border: 1px solid transparent;
  cursor: default;
}
.object .resizer {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -5px;
  right: -5px;
}
.object .resizer-right {
  cursor: e-resize;
  height: 100%;
  bottom: 0px;
}
.object .resizer-bottom {
  cursor: n-resize;
  width: 100%;
  right: 0;
}
.object .resizer-both {
  position: absolute;
  cursor: nw-resize;
  z-index: 10;
}
.panel {
  flex: 20;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: map-get($fg-colors, "panel");
  background: map-get($bg-colors, "panel");
}
.panel .title {
  width: 100%;
  padding: 0.5rem 0;
  font-size: x-large;
  text-align: center;
  color: map-get($fg-colors, "primary");
  background: map-get($bg-colors, "primary");
}
.panel .elements-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: auto;
}
ul.elements {
  margin: 0;
  padding: 0;
}
li.element {
  display: flex;
  justify-content: space-between;
  background: map-get($bg-colors, "element");
  border-bottom: 1px solid map-get($bd-colors, "element");
  cursor: pointer;
}
li.element.active {
  color: map-get($active-fg-colors, "element");
  background: map-get($active-bg-colors, "element");
}
li.element:hover {
  color: map-get($hover-fg-colors, "element");
  background: map-get($hover-bg-colors, "element");
}
li.element .text {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
li.element .actions {
  display: flex;
}
.panel .btn {
  position: relative;
  height: 100%;
  width: 2rem;
  border: 0;
  color: white;
  cursor: pointer;
}
.panel .btn > * {
  pointer-events: none;
}
.panel .settings {
  flex-shrink: 1;
  flex-basis: auto;
  color: map-get($fg-colors, "panel");
  background: map-get($bg-colors, "panel");
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.panel .settings .base,
.panel .settings .extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.panel .settings .btn {
  position: relative;
  height: 100%;
  border: 0;
  flex-grow: 1;
  padding: 1rem;
  color: white;
  background: transparent;
  cursor: pointer;
  text-align: center;
}
.panel .settings .btn:hover {
  background: rgba(0, 0, 0, 0.2);
}
.panel .detail {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow: auto;
}
.panel .detail .header {
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
  background: lighten(map-get($bg-colors, "panel"), 10%);
}
.panel .detail .content {
  flex-grow: 1;
  flex-basis: auto;
  overflow: auto;
}
.panel .detail .actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.panel .detail .actions button {
  flex-grow: 1;
  padding: 1rem;
}
.helper {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: map-get($fg-colors, "helper");
  background: map-get($bg-colors, "helper");
}
.helper .header {
  font-weight: bold;
  background: darken(map-get($bg-colors, "helper"), 10%);
}
.helper .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.helper div {
  padding: 0.5rem;
  text-align: center;
}
.helper div.header {
  flex-grow: 1;
  width: 100%;
}
.helper div strong {
  display: block;
}
.toasts-wrapper {
  position: fixed;
  right: 1rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
}
.toast {
  padding: 0.5rem 1rem;
  margin-bottom: 0.2rem;
  max-width: 250px;
  overflow-wrap: break-word;
}
@each $display in $display-classes {
  .d-#{$display} {
    display: $display !important;
  }
}
@each $primary in $primary-classes {
  .btn.#{$primary},
  .bg-#{$primary} {
    color: map-get($fg-colors, $primary) !important;
    background: map-get($bg-colors, $primary) !important;
  }
  .btn.#{$primary}:hover {
    background: darken(map-get($bg-colors, $primary), 10%);
  }
  .fg-#{$primary} {
    color: map-get($bg-colors, $primary);
  }
}
